@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@mixin palette ($color,
$bg) {
  color: $color;
  background: $bg;
}

@mixin pos ($top,
$right,
$bot,
$left) {
  top: $top;
  right: $right;
  bottom: $bot;
  left: $left;
}

@mixin handling ($pos,
$display) {
  position: $pos;
  display: $display;
}

@mixin size ($width,
$height) {
  width: $width;
  height: $height;
}

$main-color: #71b357;
$bar-background-color: #e8e8e8;
$text-color:#908f90;
$light-color: lighten($color: $main-color, $amount: 26%);
$tooltip-border-color: lighten($color: $main-color, $amount: 10%);
$tooltip-background-color: lighten($color: $main-color, $amount: 35%);

.slider,
.slider * {
  box-sizing: border-box
}

.slider {
  @include size (345px,
  30px);
  display: block;
  padding: 4px 10px;
  cursor: default;
  font-size: 12px;
  margin: 35px 0;

  .bar {
    @include size (325px,
    4px);
    background: #d8d8d8;
    position: relative;

    &>span.left-handle,
    &>span.right-handle {
      @include palette(inherit,
      #33b5e6);
      @include handling (absolute,
      inline-block);
      @include size (12px,
      12px);
      border: 7px solid #33b5e6;
      border-radius: 50%;
      top: -5px;
      margin-left: -10px;
      z-index: 1;
      cursor: pointer;
      transition: left 0.2s ease;

      &.last-active {
        z-index: 2;
      }

      & .handle-tooltip {
        @include palette(#66686c,
        #fff);
        @include pos(-40px,
        none,
        none,
        -24px);
        @include handling (absolute,
        block);
        border: 1px solid #33b5e6;
        padding: 3px 4px;
        min-width: 55px;
        text-align: center;
        font-weight: bold;
        transition: opacity 0.2s ease;
        opacity: 1;

        &:before {
          content: "";
          border: 6px solid transparent;
          border-top-color: #33b5e6;
          position: absolute;
          @include pos(100%,
          none,
          none,
          33%);
        }

        &:after {
          @include pos(100%,
          none,
          none,
          34%);
          content: "";
          border: 5px solid transparent;
          border-top-color: #fff;
          position: absolute;
        }
      }

      & .handle-tooltip-max {
        @include palette(#66686c,
        #fff);
        @include pos(15px,
        none,
        none,
        -24px);
        @include handling (absolute,
        block);
        border: 1px solid #33b5e6;
        padding: 3px 4px;
        min-width: 55px;
        text-align: center;
        font-weight: bold;
        transition: opacity 0.2s ease;
        opacity: 1;

        &:before {
          content: "";
          border: 6px solid transparent;
          border-bottom-color: #33b5e6;
          position: absolute;
          @include pos(-53%,
          none,
          none,
          33%);
        }

        &:after {
          @include pos(-44%,
          none,
          none,
          35%);
          position: absolute;
          content: "";
          border: 5px solid transparent;
          border-bottom-color: #fff;
          position: absolute;
        }
      }

      &:hover>.handle-tooltip,
      &.active>.handle-tooltip {
        opacity: 1;
      }
    }

    div.filler {
      display: block;
      @include size (100%,
      100%);
      position: relative;
      overflow: hidden;

      &>span {
        display: inline-block;
        height: 100%;
        position: absolute;
        top: 0;
        background: #33b5e6;
        transition: all 0.2s ease;
      }
    }
  }

  .values {
    display: block;
    font-weight: bold;
    width: 100%;
    color: $text-color;
    margin-top: 7px;
  }

  .values span:first-child {
    float: left !important;
  }

  .values span:last-child {
    float: right !important;
  }
}

.slider__base-handlers {
  @include size (100%,
  5px);
  position: relative;
  z-index: 100;

  &>div.handle__first-base {
    @include palette(inherit,
    #fff);
    @include handling (absolute,
    inline-block);
    @include size (11px,
    11px);
    border: solid 1px #195a72;
    border-radius: 50%;
    top: -11px;
    margin-left: -10px;
    z-index: 1;
    cursor: pointer;
    transition: left 0.2s ease;
  }

  &>div.handle__second-base {
    @include palette(inherit,
    #191716);
    @include handling (absolute,
    inline-block);
    height: 22px;
    border: 1px solid #191716;
    top: -16px;
    margin-left: -10px;
    z-index: 1;
    cursor: pointer;
    transition: left 0.2s ease;
  }

  &>.handle__base-popover {
    @include handling (relative,
    block);
    float: right;
    top: -17px;
    left: 40px;
    padding: 3px 4px;
    min-width: 55px;
    text-align: center;
    background: #ffffff;
    color: #66686c;
    font-weight: bold;
    transition: opacity 0.2s ease;
    opacity: 1;

    .slider__base-title {
      font-weight: 600;
      color: #66686c;
      display: inline;
    }
  }
}
