<div>
    <h2 class="key-assumption__title">
        <button [popover]="popInfo" popoverTitle="Edit Slider" placement="bottom">
        </button>Key Assumptions
    </h2>
</div>
<!--TODO: Container temporary mocked. After placing this component to reconcilation tab, this container will be removed-->
<div class="container key-assumption__container">
    <div class="btn__header">
        <!--TODO: Mock-->
        <div class="btn-group">
            <label class="btn btn-left" btnCheckbox tabindex="0" role="button">DCF</label>
            <label class="btn btn-mid" btnCheckbox tabindex="0" role="button">GPC</label>
            <label class="btn btn-right" btnCheckbox tabindex="0" role="button">GT</label>
        </div>
    </div>
    <div class="row">
        <div class="ranges__container">
            <div class="item">
                <app-range [initConfig]="initSingleConfig_1"></app-range>
            </div>
            <div class="item">
                <app-range [initConfig]="initSingleConfig_2"></app-range>
            </div>
            <div class="item">
                <app-range [initConfig]="initSingleConfig_3"></app-range>
            </div>
            <div class="item">
                <app-range [initConfig]="initSingleConfig_4"></app-range>
            </div>
            <div class="item">
                <app-range [initConfig]="initSingleConfig_5"></app-range>
            </div>
            <div class="item">
                <app-range [initConfig]="initSingleConfig_6"></app-range>
            </div>
            <div class="item">
                <app-range [initConfig]="initSingleConfig_7"></app-range>
            </div>
            <div class="item">
                <app-range [initConfig]="initSingleConfig_8"></app-range>
            </div>
            <div class="item">
                <app-range [initConfig]="initSingleConfig_9"></app-range>
            </div>
        </div>
    </div>
</div>
